body{
    color:brown;
    background-color: black;
}
header{
    border-bottom: solid 2px red;
    padding: 20 px;
    font-size: 32 px;
    color: green;
}
section {
    background: antiquewhite (184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}